# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# ==============================
# Virtual Environment
# ==============================
venv/
env/
ENV/
.venv/

# ==============================
# Environment Variables
# ==============================
.env
.env.*
*.env

# ==============================
# Django
# ==============================
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# ==============================
# Flask
# ==============================
instance/
.webassets-cache/

# ==============================
# FastAPI
# ==============================
*.db

# ==============================
# Distribution / Packaging
# ==============================
build/
dist/
*.egg-info/
.eggs/

# ==============================
# IDEs & Editors
# ==============================
.vscode/
.idea/
*.swp
*.swo

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Testing / Coverage
# ==============================
.coverage
htmlcov/
.pytest_cache/

# ==============================
# Logs
# ==============================
*.log
